<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/login-done.css">

        <link rel="shotcut icon" href="/images/favicon.png" type="image/png">

        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

       <title>Proffy | Sua plataforma de estudos online</title> 

    </head>
    <body id="page-login-done">

        <div class="container">
            <img src="/images/icons/success-check-icon.svg" alt="Deu Certo">
            <div class="text">
                <h1>Cadastro salvo!</h1>
                <p>Tudo certo, seu cadastro está em nossa lista de professores.<br>Agora é só ficar de olho no seu WhatsApp.</p>
            </div>
        </div>

        <script>
            setTimeout(() => {
                window.location = "/"
            }, 2000)
        </script>
    </body>
</html>